@page
@using DrumBeatsUI.Models
@model SongsModel

@{
    Layout = "_Layout";
}
@Html.AntiForgeryToken()

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<h1 style="align-content: center">Songs</h1>
<div class="container">
    <div class="row row-cols-2">
        <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-url="@Url.Page("Songs", "AddSongPartial")">Add Song</button>
        @foreach (Song song in Model.Songs)
        {
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;" id="#ExerciseCard">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img id="#CardImage"
                                 style="height: 95%"
                                 src="@song.Album.Image"
                                 alt="@song.Album.Title"
                                 class="img-fluid rounded"/>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@song.Title</h5>
                                <p class="card-text">
                                    @song.Artist.Name
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">@song.GetDuration()</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>